html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color:rgba(17, 17, 17, 0);
  color: black;
  font-size: 0px;
}
svg {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position:absolute;
}
path {
  stroke-linecap: square;
  stroke: white;
}

p {
  max-width: 100vw;
  word-break: break-all;
  font-size: 12px;
}

canvas {
  /*background: black;*/
}